body, html { margin: 0; padding: 0; overflow: hidden; }
#map {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#conteiner_menu{
  position: relative;
  z-index: 10000;
  display: flex;
  width: 100%;
  height: 80px;
  /* background-color: blueviolet; */
  justify-content: space-between;
  margin: 10px 0px;

}

#menu, #barra_pesquisa, #barra_filtro{
  justify-content: center;
  margin: 10px 10px 10px 0px;
}
#menu{
  display: flex;
  padding: 0px 0px 0px 0px;
  height: 100vh;
  justify-content: space-between;
  /* background-color: antiquewhite; */
}
#div_btn_menu{
  background-color: rgb(253, 253, 253);
  padding: 2px 2px;
  width: 48px;
  height: 50px; /*valor para altera valor min 50px, max 200px*/
  text-align: center;
  border-radius: 25px;

  -webkit-box-shadow: 9px 14px 11px -10px rgba(0,0,0,0.76);
  -moz-box-shadow: 9px 14px 11px -10px rgba(0,0,0,0.76);
  box-shadow: 9px 14px 11px -10px rgba(0,0,0,0.76);

  position: relative;
  right:0px; /*valor para altera valor para 0px e para 23px*/
}
#opcoes_btn{
  display: none;
}
.btn{
  display: block; /*valor para altera block*/
  margin: 2px 0px;
  width: 46px;
  height: 46px;
  border-radius: 50%;
}

.btn {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:23px;
	border:2px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:13px 17px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;

  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.btn:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.btn:active {
	position:relative;
	top:1px;
}

.btn_m{
  margin: 2px 0px;
  width: 46px;
  height: 46px;
  border-radius: 50%;
}
#lista_menu{
  display: none; /*valor para altera para display:"block"*/
  width: 0px;    /*valor para altera para 300px*/
  background-color: rgb(255, 145, 0);
  padding: 20px;
}
#pequisa_filtros{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-box{
  background:#e8eaee;
  max-width: 500px;
  min-width: 200px;
  height: 35px;
  border-radius: 40px;
  padding: 10px;

  -webkit-box-shadow: 10px 7px 21px -3px rgba(0,0,0,0.76);
  -moz-box-shadow: 10px 7px 21px -3px rgba(0,0,0,0.76);
  box-shadow: 10px 7px 21px -3px rgba(0,0,0,0.76);

}
.search-btn{
  color: #00a8ff;
  float: right;
  width: 35px;
  height: 40px;
  border-radius: 50%;
  background: #b1b3b8;
  display: flex;
  justify-content: center;
  align-items: center;


}
.search-txt{
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0px;
  color: rgb(80, 80, 80);
  font-size: 16px;
  transition: 0.4;
  line-height:40px;
}

#barra_filtro{
  display: flex;
  
}
.btn-f {
  margin: 5px;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:21px;
	font-weight:bold;
	padding:6px 38px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;

  -webkit-box-shadow: 10px 7px 21px -3px rgba(0,0,0,0.76);
  -moz-box-shadow: 10px 7px 21px -3px rgba(0,0,0,0.76);
  box-shadow: 10px 7px 21px -3px rgba(0,0,0,0.76);
}
.btn-f:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}
.btn-f:active {
	position:relative;
	top:1px;
}

.img_f{
  width: 25px;
  margin: 5px;
}


@media (max-width: 720px){
  #pequisa_filtros{
    width: 100%;
    display: block;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }
}

